@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"), url(fonts/centurygothic.ttf);
}

* {
  box-sizing: border-box;
}

*,
body {
  margin: 0;
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.62px;
  color: #333;
}

a {
  text-decoration: none;
}
p {
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

button {
  background-color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}

.weight-700 {
  font-weight: 700;
  font-size: 48px;
  color: #23262f;
  line-height: 64px;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e1e5ee;
}

.header__container {
  width: 1660px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 89px;
  height: 60px;
}

.navigation {
  width: 591px;
  height: 20px;
  display: flex;
  gap: 50px;
}

a {
  font-size: 16px;
  line-height: 19.62px;
  color: #333;
}

.delivery-button {
  width: 125px;
  height: 44px;
  border: 1px solid #d81010;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  background-color: white;
  font-family: "Century Gothic";
}

.contacts {
  width: 183px;
  height: 42px;
  text-align: end;
}

.contacts__number {
  width: 183px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.phone-icon {
  height: 18px;
  width: 18px;
}

.number {
  font-size: 18px;
  line-height: 22px;
  width: 155px;
  height: 22px;
}

.contacts__text {
  margin: 0px;
  font-size: 14px;
  line-height: 17.17px;
  color: #5f6368;
}

/*****************************************************************************************************************************/

.slider__swiper-slide {
  width: 1090px !important;
  border-radius: 16px;
}

.slider__swiper-slide img {
  width: 100%;
  height: 568px;
  border-radius: 16px;
  object-fit: cover;
}

.slider-swiper__text {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.descr {
  display: flex;
  flex-direction: column;
  width: 1088px;
  height: 96px;
}
.pagination-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 324px;
  height: 64px;
  gap: 60px;
}

.swiper-pagination {
  width: 94px;
  height: 24px;
}

.arrows {
  display: flex;
  width: 168px;
  height: 64px;
  gap: 50px;
  left: 162px;
}

.arrow {
  width: 32px;
  height: 32px;
}

.slider__swiper-button-prev,
.slider__swiper-button-next,
.about-us__swiper-button-next,
.about-us__swiper-button-prev {
  width: 59px !important;
  height: 59px !important;
  border-radius: 50px;
  border: 1px solid black;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-pagination-fraction {
  position: unset !important;
  display: flex;
  gap: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #777e90;
}
.background-img {
  position: absolute;
  top: 740px;
}

.about-us {
  max-width: 1376px;
  display: flex;
  align-items: flex-end;
  margin-top: 60px;
}

.about-us__text1 {
  width: 640px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us__title {
  height: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #777e90;
}

.about-us__info {
  width: 640px;
  height: 196px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.font-24 {
  font-size: 24px;
  line-height: 32px;
  color: #777e90;
}

.about-us__text2 {
  width: 672px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 134px;
}

.about-us__text2 p {
  font-size: 24px;
  line-height: 36px;
  color: #777e90;
}

.about-us-numbers {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-auto-rows: 221px;
  grid-column-gap: 30px;
  grid-row-gap: 32px;
  margin-top: 80px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block__text {
  width: 256px;
  height: 132px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-us-numbers_p {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #23262f;
}

.about-us-numbers span {
  width: 256px;
  border: 1px solid #e1e5ee;
}

.title {
  line-height: 24px;
  color: #23262f;
}

.description {
  font-size: 14px;
  line-height: 24px;
  color: #777e90;
}

#kupol {
  margin-top: 90px;
}

.about-us__slide {
  width: 475px !important;
  position: relative;
}

.about-us__arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 70px;
  top: 313px;
  width: 1840px;
  height: 64px;
  z-index: 2;
}
.active::after {
  content: "";
  opacity: 0;
  background-color: unset;
}

.about-us__swiper-button-prev {
  z-index: 2;
  background-color: #fff;
}

.slide__sign {
  background-color: #fff;
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide__sign_img {
  width: 100px;
  height: 100px;
}

.about-us__swiper-button-next {
  z-index: 2;
  background-color: #fff;
}
.slide__img {
  position: relative;
}
.slide__img:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(134, 209, 209, 0.7);
}

.container {
  max-width: 1378px;
  margin: 0 auto;
}
.events {
  width: 1100px;
  margin: 100px auto 0;
}
.events__title {
  font-size: 36px;
  margin-right: 105px;
  color: #000000;
}
.events__header {
  display: flex;
  align-items: center;
}
.events__header span {
  width: 650px;
  height: 0px;
  border: 1px solid #e1e5ee;
  margin-right: 40px;
}

.events__button {
  display: flex;
  justify-content: space-between;
  width: 128px;
  height: 24px;
}

.button__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #777e90;
}
.img-container {
  width: 24px;
  height: 24px;
}

.all-events {
  margin-top: 53px;
  display: flex;
}

.column1 {
  margin-right: 30px;
}
.column1,
.column2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.column2 {
  margin-top: 152px;
  margin-bottom: 73px;
}
.all-events__item {
  width: 533px;
  height: 361px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.item__img-container {
  width: 533px;
  height: 299px;
}
.item__img-container_img {
  width: 100%;
  height: 100%;
}
.item__titles {
  font-weight: 700;
  color: #23262f;
  margin-top: 6px;
}
.item__subtitle {
  font-size: 14px;
  line-height: 24px;
}

.app {
  position: relative;
  background-color: #e1e5ee;
}
.app__wrapper {
  position: relative;
  padding: 200px 0 130px 0;
}

.app__text {
  width: 460px;
}
.app__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  text-align: left;
  color: #363940;
}
.app__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.app__subtitle {
  line-height: 22px;
  margin: 12px 0 46px 0;
}
.download {
  width: 163px;
  height: 45px;
  margin-right: 20px;
}
.phones {
  position: absolute;
}

.footer {
  width: 100%;
  color: #fff;
  background-image: url("images/footer5.jpeg");
  background-repeat: no-repeat;

  background-size: cover;
  padding: 114px 130px 112px 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  max-width: 1660px;
}
.footer__line {
  border: 1px solid #e1e5ee;
}
.footer__logo {
  width: 130px;
  height: 88px;
  margin-bottom: 20px;
}

.white {
  color: #fff;
}

.block1,
.block2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__number {
  color: #fff;
  line-height: 150%;
  width: 141px;
  height: 48px;
}

.footer__contacts {
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.soc-net {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 20px;
  height: 20px;
}

.footer {
  position: relative;
}

.footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer__container {
  position: relative;
  z-index: 5;
}

@media (max-width: 1440px) {
  .app__wrapper {
    padding: 200px 0 130px 50px;
  }

  .app__img {
    right: 80px;
  }
}

@media (max-width: 1200px) {
  .about-us {
    flex-direction: column;
    align-items: center;
  }
  .about-us-numbers {
    grid-template-rows: repeat(2, 221px);
    grid-template-columns: repeat(2, 320px);
    grid-column-gap: 60px;
    grid-row-gap: 32px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }
  .app__img {
    right: 60px;
  }
  .app__text {
    width: 360px;
  }
}

@media (max-width: 1024px) {
  .app__wrapper {
    padding: 100px 0 50px 50px;
  }
  .app__img {
    width: 400px;
    height: 400px;
  }
  .app__text {
    width: 280px;
  }
  .app__title {
    font-size: 24px;
    line-height: 36px;
  }
  .app__subtitle {
    margin: 12px 0 26px 0;
  }
}
